/* Header styling */
header {
  padding: 1rem 2rem;
  background-color: var(--snips-black);
}

/* General navigation */
nav li {
  display: inline-block;
}

nav a {
  padding: 5px;
  text-decoration: none;
  color: var(--snips-orange);

  transition: color 0.2s;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

/* TODO: Footer styling */
