#signup-form {
  width: 85%;
  max-width: 500px;
  margin: 1rem auto;
  display: flex;
  flex-direction: rows;
  flex-flow: wrap;
  background-color: white;
  border-radius: 10px;

  font-family: "Montserrat", sans-serif;
}

#signup-form h2 {
  padding: 1rem;
  width: 100%;
  background-color: var(--snips-black);
  border-radius: 10px 10px 0 0;
  color: var(--snips-white);
}

#signup-form label {
  width: 90%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
}

#signup-form input {
  padding: 0.5rem;
  margin-left: 1rem;
  width: 90%;
  background-color: var(--snips-white);
  border: 0;
  outline: none;
  border-radius: 5px;
}

#signup-form button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--snips-black);
  color: var(--snips-white);
  border: 0;
  outline: none;
  border-radius: 0 0 10px 10px;
  transition: all 250ms;

  font-family: "Montserrat", sans-serif;
}

#signup-form button:hover {
  background-color: var(--snips-orange);
}
